@import url(reset.css);
@import url(header.css);
@import url(body.css);
@import url(footer.css);


body{

}

:root{
    /* specific colors */
    --color-bodyBackground: #383838ff;
    --color-mainBackground: #4d4d4d;
    --color-buttonBorder: #c7a50a;
    --color-buttonBorderEffect:#e0b805 ;
    --color-cardBorderEffect: #000000;
    --color-menuSelect: ;

    /* modules stylization */
    --main-opacity: 0.5;
    


    /* elements stylization */
    --cardBorder-effect: 0 3px 5px var(--color-cardBorderEffect);
    --cardBorder-effectHover: 0 3px 10px var(--color-cardBorderEffect);
    --buttonBorder-effect: 0px 1px 10px var(--color-buttonBorderEffect);
    
    /* elements animation */

    --animation-hover: 0.5s ease;
}