
#solucao {grid-area:solucao;}
#publico {grid-area:publico;}
#galeria {grid-area:galeria;}
#equipe {grid-area:equipe;}
#contato {grid-area:contato;}

body{
    background-color: var(--color-bodyBackground);
    
}


main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'solucao solucao'
    'publico galeria'
    'equipe contato'
    ;
    background: linear-gradient(200deg,
    var(--color-bodyBackground),
    var(--color-mainBackground),
    var(--color-bodyBackground));
    background-color: var(--color-mainBackground) ;
    margin: 20px;
    border: 3px solid var(--color-mainBorder);
    box-shadow: var(--border-effect);
    border-radius: 5px;
}

.content{
    padding: 10px;
    border: 3px solid var(--color-mainBorder);
    box-shadow: var(--border-effect);
    height: 300px;
    margin: 50px;
    border-radius: 5px;
    scroll-margin-top: 220px;
}

