header{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    background-color: blueviolet;
    position: sticky;
    top: 0px;
    max-height: 170px;
}

.logo{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.logo img{
    height: 150px;
}
.navigation{
    display: grid;
    grid-template-columns: 150px 150px 150px 150px 150px;
    justify-content: space-evenly;
    border: solid 20px solid red
}
.navigation a{
    text-align: center;
    border: 2px solid rgb(205, 177, 17);
    border-radius: 5px;
}